.header-container {
    background: #fff;
    box-shadow: -1px 4px 20px 1px #f1f1f185;
}

.left-menu.hide {
    width: 0;
}

header.header {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    display: flex;
}

.header-left {
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 240px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    background: var(--main-grident);
    color: var(--white-color);
}

a.sidebarCollapse {
    padding-left: 14px;
    color: #999;
    font-size: 20px;
}

ul.navbar-item {
    display: flex;
}

.dropdown {
    position: relative;
}

.user-profile-dropdown {
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link.user {
    padding: 6px 0;
    font-size: 25px;
    color: #9999;
    position: relative;
}

img.icon {
    width: 25px;
}

p.count {
    position: absolute;
    top: 0;
    font-size: 10px;
    color: var(--white-color);
    height: 13px;
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -3px;
}

/*=========================Dropdown menu create=================================*/

.dropdown-menu {
    z-index: var(--z-fixed);
    max-width: 15rem;
    right: 0px !important;
    left: auto;
    min-width: 16rem;
    padding: 0;
    border-radius: 5px;
}

img.user-note {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.dp-main-menu {
    display: inline-grid;
    width: 100%;
    box-shadow: 0px 4px 20px 0px #ddd;
    border-radius: 5px;
    padding: 10px 0;
}

.dp-main-menu a {
    font-size: 13px;
    color: var(--second-color);
    width: 100%;
    white-space: initial;
    line-height: 18px;
    border-bottom: 1px solid #f7f7f7;
    align-items: center;
    padding: 15px;
}

.message-item {
    display: flex;
}

.note-info-desmis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-notify-info {
    line-height: 18px;
}

p.note-name {
    font-size: 13px;
    font-weight: 500;
}

p.note-time {
    font-size: 11px;
}

.status-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--main-grident);
    color: var(--white-color);
}

p.status-link span {
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    width: 100%;
}

.dp-main-menu a:last-child {
    border-bottom: 0;
}

/*=============Message dropdown style====================*/

img.sms-user {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 7px;
}

p.m-user-name {
    font-size: 14px;
    font-weight: 600;
    color: var(--second-color);
}

p.user-role {
    font-size: 12px;
    color: var(--main-color);
}

/*==============Profile dropdown style=======================*/

.media {
    background: var(--main-color);
    text-align: center;
    padding-top: 10px;
}

img.img-fluid.mr-2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.media-body {
    margin-top: 10px;
    line-height: 20px;
    padding-bottom: 10px;
}

.media-body h5 {
}

.media-body h5 {
    font-weight: 700;
    color: var(--white-color);
}

.media-body p {
    font-size: 13px;
    font-weight: 500;
    color: var(--white-color);
}

a.dropdown-item a span {
    color: var(--main-color);
}

.dp-main-menu a span {
    color: var(--main-color);
    padding-right: 8px;
}

/*=================SIDEBAR START STYLE===================*/

.left-menu {
    height: 100vh;
    width: 240px;
    position: fixed;
    box-shadow: 3px -1px 19px 1px #efeeee;
    overflow-y: scroll;
    transition: .5s;
    margin-top: -15px;
    background: var(--white-color);
}

nav.animated {
    position: relative;
}

.left-menu::-webkit-scrollbar {
    width: 6px;
}

.left-menu::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--main-grident);
}

ul#sidebar {
    margin: 0;
    padding: 0;
}

ul#sidebar li {
    transition: .3s;
    border-left: 5px solid #fff;
}

ul#sidebar li a {
    display: block;
    padding: 7px 15px;
    transition: .2s;
    font-size: 12px;
    font-weight: 500;
    color: #636262;
}

ul#sidebar li a:hover {
    color: var(--main-color);
    background: #f7f7f7;
}

ul#sidebar li:hover {
    border-left: 5px solid var(--main-color);
}

li.active {
    border-left: 5px solid var(--main-color) !important;
}

    li.active a {
        color: var(--main-color) !important;
        background: #f9f9f9;
    }

ul#sidebar li a i {
    padding-right: 7px;
    font-size: 14px;
}
