
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-lg">
                <h2>Cảm ơn bạn đã ủng hộ</h2>
                <img src="~/Assets/img/donate.png" />
            </div>
        </div>
    </section>
</div>
